      nav{
        text-align: center;
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: black;
            position: ;
            margin-top: 5px;

        }
        ul{
            font-size: 1rem;
            padding: 0;
            margin: 0;
            list-style: none;
        }
        a{ text-decoration: none; }
       
        .last-menu{
            display: flex; }
        .last-menu li a{
            color: white;
           padding: 25px;
           margin-top: 5px;
       }

       .home{
        /* text-align: right; */
        color: rgb(228, 141, 10);
        margin-left: 145px;
     }
       .item{}
        .t{ color: rgb(228, 141, 10);
        }
         .d{color: rgb(228, 141, 10);
        }
        .logo{ margin-left: 50px;}
  .i1{
   max-height: 1rem;
   margin-top: 3.5px;
  }
  .i2{
    max-height: 1rem;
    margin-left: 135px;
}
.i3{
    max-height: 1rem;
   
}
.a1{
    background-color:#8080801c;
    height: 650px;
    width: 1300px;
    position: relative;
    left: 100px;
    top: 30px;

}
.b1{
background-color:#80808000;
    height: 300px;
    width: 600px;
    position: relative;
    left: 300px;
    top: 200px;

}
span{
color: rgb(255, 0, 0);
}
.c1{
font-size: 35px;
}
.c{
font-size: 16px;
color:black;
position: absolute;
top:70px ;
}
input{
  position: absolute;
  left:300px;
  top:360px;
  border-radius:15px 15px ;
  background-color:white;  
}
.a4{
    float: left;
    width: 325px;
    background: rgb(190 186 186 / 38%);
    height: 720px;
    position: relative;
    top: 70px;
    left: 100px;
}
.a5{
    float:left;
    background:#f5f5f5ab;
    width: 660px;
    height: 360px;
    position: relative;
    left: 125px;
    top: 70px;	
}
.a6{
    float: left;
    width: 325px;
    background: rgb(190 186 186 / 38%);
    height: 360px;
    position: relative;
    left: 125px;
    top: 70px;
}
.a7{
    float: left;
    width: 325px;
    background: rgb(190 186 186 / 38%);
    height: 335px;
    position: relative;
    left: 125px;
    top: 95px;
}
.a8{
    float: left;
    width: 635px;
    background:rgb(190 186 186 / 38%);
    height: 335px;
    position: relative;
    left: 150px;
    top: 95px;
} 
.I{
    color: hsl(60, 100%, 50%);
    font-size: 35px;
    font-weight: bold;

}
.b2{
  position: relative; 
  left:80px; 
  top: 250px; 
}
.c2{
  position: relative; 
  left:45px; 
  top: 245px; 
  color: rgb(245, 245, 245);
  font-size: 13px;
  font-weight: bolder;
}
.I1{
    position: absolute;
left:70px;
top:400px;
border-radius:15px 15px ;
background-color:rgb(250, 50, 50);  
}
.b3{
        position: relative; 
        left:150px; 
        top: 50px;
        font-size: 30px; 
}
.I2{
    position: relative;
left:45px;
top:10px;
font-size: 50px;
color:black; 
font-weight: bold; 
}
.I3{
    position: absolute;
left:280px;
top:200px;
font-size: 15px; 
border-radius:15px 15px ;
background-color:rgb(250, 50, 50);
}
.b4{
    color: black;
    font-size: 25px;
    position: relative;
    top: 230px;
    left:100px ;
    font-weight: bold;
}
.m1{
    font-size: 16px;
    position: absolute;
    left: -45px;
    font-weight: bold;
    color: rgba(226, 8, 8, 0.877);
}
.I4{
    position: absolute;
left:55px;
top:255px;
font-size: 15px; 
border-radius:15px 15px ;
background-color:white;
border: 2px solid white;
}
.m2{
    font-size: 29px;
    position: absolute;
    left: 55px;
    font-weight: bold;
    color: red;
    top: 180px;
}
.m3{
    font-size: 28px;
    position: relative;
    left:5px;
    font-weight: bold;
    color: red;
top: 2px;}
    .b5{
        color: red;
        font-size: 28px;
        position: absolute;
        top: 140px;
        left:55px ;
        font-weight: bold;}  
        .c3{
            font-size: 20px;
            font-weight: bold;
            position: absolute;
            left: 56px;
            top: 195px;
        }
        .x{
            position: relative;
            left: 74px;
            top:160.5px ;
            font-size: 22px;
            color: black;
        }
       
        .y1{
            position:relative;
            color: black;
            font-size: 22px;
            top: 144px;
            left: 74.5px; 
            left;
        }
        .y{
            position: relative;
            top: -15px;
            left: px;
        }
       .n1{
                font-size: 16px;
                position: absolute;
                left: 380px;
                font-weight: bold;
                color:black;
                top: 60px;}
            
         .n2{
             position: relative;
             color: black;
            font-size: 22px;                position: absolute;
            top: 60px;
            left:405px ;
              font-weight: bold;} 
        .n3{
            color: black;
        }  
        .n4{
            position: absolute;
            left: 385px;
            top: 140px;
            font-size: 22px;
            font-weight: bold;
        }
        .I5{
            position: absolute;
            left:385px;
            top:185px;
            font-size: 17px; 
            border-radius:50px 50px ;
            background-color:black;
            color: white; 
        }
        .o1{
            position: absolute;
            left: 80px;
            width: 100px;
            height: 110px;
            border-bottom: 20px solid transparent;
            background-color:#c1d1af; 
        
        }
       
        #diamond-narrow {
            position:absolute;
              height: 0;
              width: 0;
              border: 50px solid transparent;
              top: 130px;
              left:80px;
              border-top: 25px solid #c1d1af;
          }
          .o2{
              position:relative;
              left: 30px;
              font-size: 22px;
              font-weight: bold;
          }
         .o3{
             position: relative;
             left: 55px;
             top: 160px;
             font-size: 15px;
              font-weight: bold;
         } 
       
         .I6{
             position: relative;
             top: 160px;
             left: 75px;
             font-size: 17px; 
             border-radius:50px 50px ;
             background-color:black;
             color: white; 
         }
         .q1{
             position: relative;
             font-size: 15px;
             font-weight: bold;
             left: -600px;
             top: 830px;
             color: black;
         }
         .q2{
            position: relative;
            font-size: 16px;
            font-weight: bold;
            left: -600px;
            top: 830px;
            color: black;    
         }
         .q3{
             position: relative;
             height: 10px;
             width: 120px;
             background-color: red;
             border-radius: 10px 10px;
             top: 830px;
             left: 735px;
         }
         .a9{
             position:relative;
             width: 220px;
             height: 310px;
             top: 900px;
            left: 60px;
             background-color: grey;
             /* float: left; */
         }
      .r1{
          position: relative;
          top: -400px;
          left: 10px;
          color: black;
          font-size: 15px;
      }   
      .r2{
        position: relative;
          top: -398.50px;
          left: 10px;
          color: rgb(230, 9, 9);
          font-size: 18px;  
      }
      .I7{
        position: relative;
             top: -390px;
             left: 10px;
             font-size: 16px; 
             border-radius:50px 50px ;
             background-color:red;
             color: white;  
             border: 0.5px; 
      }
      .a10{
        position: relative;
        width: 220px;
        height: 310px;
       left: -30px;
       top: 300px;
        background-color: grey;
        float: left;
    }
 .r3{
     position: relative;
     top: 225px;
     left: 20px;
     color: black;
     font-size: 15px;
 }   
 .r4{
   position: relative;
     top: 226px;
     left: 18px;
     color: rgb(230, 9, 9);
     font-size: 18px;  
 }
 .I8{
   position: relative;
   top: 250px;
        left: 20px;
        font-size: 16px; 
        border-radius:50px 50px ;
        background-color:white;
        color: black;  
        border: 0px solid transparent; 
 }
 .a11{
    position: relative;
    width: 220px;
    height: 310px;
   left: -15px;
   top: 300px;
    background-color: grey;
    float: left;
}
.r5{
 position: relative;
 top: 225px;
 left: 10px;
 color: black;
 font-size: 15px;
}   

.r6{
    position: relative;
     top: 226px;
     left: 16px;
     color: rgb(8, 216, 8);
     font-size: 18px;  
    }
.r7{
position: relative;
 top: 226px;
 left: 16px;
 color: rgb(230, 9, 9);
 font-size: 18px;  
}
.I9{
position: relative;
    top: 230px;
    left: 20px;
    font-size: 16px; 
    border-radius:50px 50px ;
    background-color:red;
    color: white;  
    border: 0px solid transparent; 
}
.a12{
    position:relative;
    width: 220px;
    height: 310px;
    top: 300px;
   
    background-color: grey;
    float: left;
}
.r8{
 position: relative;
 top: 226px;
 left: 10px;
 color: black;
 font-size: 15px;
}   
.r9{
position: relative;
 top: 228px;
 left: 11px;
 color: rgb(230, 9, 9);
 font-size: 18px;  
}
.I10{
position: relative;
    top: 230px;
    left: 10px;
    font-size: 16px; 
    border-radius:50px 50px ;
    background-color:red;
    color: white;  
    border: 0.5px; 
}
.a13{
    position:relative;
    width: 220px;
    height: 310px;
    top: 300px;
   left: 15px;
    background-color: grey;
    float: left;
}
.s1{
    position: relative;
    top: 226px;
    left: 10px;
    color: black;
    font-size: 15px;
   }   
   .s2{
   position: relative;
    top: 228px;
    left: 11px;
    color: rgb(230, 9, 9);
    font-size: 18px;  
   }
   .I11{
   position: relative;
       top: 230px;
       left: 10px;
       font-size: 16px; 
       border-radius:50px 50px ;
       background-color:red;
       color: white;  
       border: 0.5px; 
   }
   .a14{
       position:relative;
       width: 220px;
       height: 310px;
       top: 300px;
      left: 30px;
       background-color:#808080 ;
       float: left;
   }
   .s3{
    position: relative;
    top: 226px;
    left: 10px;
    color: black;
    font-size: 15px;
   }   
   .s4{
   position: relative;
    top: 228px;
    left: 11px;
    color: rgb(230, 9, 9);
    font-size: 18px;  
   }
   .I12{
   position: relative;
       top: 230px;
       left: 10px;
       font-size: 16px; 
       border-radius:50px 50px ;
       background-color:red;
       color: white;  
       border: 0.5px; 
   }
.a15{
    position: relative;
    height: 200px;
    width: 1400px;
    background-color: black;
    left: 60px;
    top: 980px;
    bottom: -10px;
}
.s5{
position: relative;
left: -1220px;
top: 10px;
font-size: 14px;
color: white;
}
.s6{
    position: absolute;
    font-size: 15px;
    color: white;
    }

.a15{
    position: relative;
    left: 60px;
    height: 180px;
    width: 350px;
    background-color:rgb(20, 18, 18) ;
    top: 980px;

}  
.a16{
    position: relative;
    left: 60px;
    top:-630px ;
    background-color: rgb(20, 18, 18);
    height: 0px;
    width: 250px;
    float: left;
    color: cadetblue;
}
.t1{
    font-size: 18px;
}
.t2{
    font-size: 13px; 
}
.a17{
    position: relative;
    left: 413px;
    height: 180px;
    width: 350px;
    background-color:rgb(20, 18, 18);
    top: 378px;
    float: left;
}

.d1{
    position: relative;
    left: 60px;
    top:-30px ;
    height: 0px;
    color: orange;
    background-color:rgb(20, 18, 18);
}
.a18{
    position: relative;
    left: 415.5px;
    height: 180px;
    width: 350px;
    background-color:rgb(20, 18, 18);
    top: 378px;
    float: left;
}

.d2{
    position: relative;
    left: 60px;
    top:-30px ;
    height: 0px;
    color: violet;
}
.a19{
    position: relative;
    left: 417.5px;
    height: 180px;
    width: 350px;
    background-color:rgb(20, 18, 18);
    top: 378px;
    float: left;
}

.d3{
    position: relative;
    left: 60px;
    top: -30px;
    color: white;
}
.f1{ 
    position: relative;
    height: 40px;
    width: 40px;
    top: 60px;
    left: -50px;
    border-radius: 50px;
}
.f{ 
    position: relative;
    height: 40px;
    width: 40px;
    top: 60px;
    left: -50px;
    border-radius: 50px;
}
.f3{ 
    position: relative;
    height: 40px;
    width: 40px;
    top: 60px;
    left: -50px;
    border-radius: 50px;
}
.f4{ 
    position: relative;
    height: 40px;
    width: 40px;
    top: 60px;
    left: -50px;
    border-radius: 50px;
}
.a20{
    position: relative;
    height: 400px;
    width: 1000px;
    left: 60px;
    top: 1000px;
    background-color: rgb(229, 250, 250);
}
.t3{
    position: relative;
left: 250px;
    font-weight: bold;
    top: -530px;
    font-size: 25px;
    
}
.v1{
    color: grey;
    font-size: 13px;
}
.t4{
    font-size: 16px;
color: grey;
}
.ul1{
    position: relative;
    top: -550px;
    left: 250px;
}
.ul2{
    position: relative;
    top: -550px;
    left: 250px;
    font-size: 22px;
    font-weight: bold;
}
.ul3{
    position: relative;
    top: 40px;
    left: -190px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid yellow;
    border-radius: 20px 20px;
    background: yellow;
}
.a21{
    position: relative;
    background-color: whitesmoke;
    float: left;
    height: 320px;
    width: 270px;
    top: -865px;
    left: 1100px;
}
.a22{
    position: relative;
    background-color: black;
    height: 12px;
    width: 12px;
top: 350px;
left: 130px;
border-radius: 50px 50px;
}
.a23{
    position: relative;
    background-color: red;
    height: 12px;
    width: 12px;
top: 339px;
left: 148px;
border-radius: 50px 50px;
float: left;
}
.a24{
    position: relative;
    background-color: blue;
    height: 12px;
    width: 12px;
top: 339px;
left: 153px;
border-radius: 50px 50px;
float: left;
}
.a25{
    position: relative;
    background-color: green;
    height: 12px;
    width: 12px;
top: 339px;
left: 157px;
border-radius: 50px 50px;
float: left;}
.a26{
    position: relative;
    background-color: grey;
    height: 12px;
    width: 12px;
top: 339px;
left: 160px;
border-radius: 50px 50px;
float: left;
}
.q4{
    position: relative;
    font-size: 12px;
    font-weight: bold;
    left: -320px;
    top: 1050px;
    color: black;
}
.q5{
   position: relative;
   font-size: 22px;
   font-weight: bold;
   left: -360px;
   top: 1040px;
   color: black;    
}
.q6{
    position: relative;
    height: 8px;
    width: 120px;
    background-color: red;
    border-radius: 10px 10px;
    top: 1025px;
    left: 710px;
}
.a27{
    position: relative;
    left: 60px;
    top: 1100px;
    background-color: #f9f9f9;
    height: 150px;
    width: 450px;
}
.q7{
    float: left;
    position: relative;
    left: 300px;
    top: 700px;
     height: 300px;
    width: 300px;  
}
.a29{
    float: left;
    position: relative;
    left: -30px;
    top: 700px;
    background-color: #f9f9f9;
    height: 150px;
    width: 450px;  
}
.a30{
    float: left;
    position: relative;
    left: -45px;
    top: 750px;
    background-color: #f9f9f9;
    height: 150px;
    width: 450px;}
    .a31{
        position: relative;
        left: 60px;
        top:30px;
        background-color: grey;
        border-radius: 50px 50px;
        height: 50px;
        width: 50px;
    }
    .a32{
        float: left;
        position: relative;
        left: -435px;
        top: 780px;
        background-color: grey;
        border-radius: 50px 50px;
        height: 50px;
        width: 50px;  
    }
    .a33{
        float: left;
        position: relative;
        left: 55px;
        top: 35px;
        background-color: grey;
    border-radius: 50px 50px;
        height: 50px;
        width: 50px;}
        .sm1{
            color: black;
            position: relative;
            font-size: 10px;
            left: 110px;
            top: -20px;
        }
        .sm{
            color: black;
            position: relative;
            font-size: 10px;
            left: 640px;
            top: 985px;
        }
        .sm3{
            color: black;
            position: relative;
            font-size: 10px;
            left:60px;
            top: 40px;
        }
        .a34{
                position: relative;
                left: 60px;
                top: 1100px;
                background-color: darkgray;
                height: 350px;
                width: 1375px;
            }  
            .q8{
                color: white;
                position: relative;
                font-size: 13px;
                left: -1000px;
                top: 150px;
            }
            .q9{
                color: white;
                position: relative;
                font-size: 18px;
                left: -1000px;
                top: 150px;
            }
            .q10{
                color: black;
                position: relative;
                font-size: 16px;
                left: -1000px;
                top: 150px;
                border: 1px solid white;
                background-color: white;
            } 
            .q11{
                color: black;
                position: relative;
                font-size: 18px;
                left: -990px;
                top: 150px;
                border: 1px solid yellow;
                background-color: yellow;
            }
            .q12{
                position: relative;
                font-size: 12px;
                font-weight: bold;
                left: 150px;
                top: 1100px;
                color: black;
            }
            .q13{
               position: relative;
               font-size: 22px;
               font-weight: bold;
               left: 110px;
               top: 1080px;
               color: black;    
            }
            .q14{
                position: relative;
                height: 8px;
                width: 120px;
                background-color: red;
                border-radius: 10px 10px;
                top: 1065px;
                left: 700px;
            }    
            .a35{
                position: relative;
                left: 60px;
                top: 1100px;
                height:250px ;
                width: 450px;
                background-color: rgb(179, 185, 185);
            }
            .a36{ position: relative;
                float: left;
                left: 0px;
                top: 180px;
                height:70px ;
                width: 70px;
                background-color:red;
            }
.q15{ position: relative;
    color: rgb(245, 245, 245);
    font-size: 24px;
    left: 20px;
    font-weight: bold;
    top: -10px;
}
.q16{ position: relative;
    color: rgb(245, 245, 245);
    font-size: 16px;
    left: 16px;
    font-weight: bold;
    top: -35px;
}
.a37{
    position: relative;
    float: left;
    left: 520px;
    top: 850px;
    height:250px ;
    width: 450px;
    background-color: rgb(179, 185, 185);
}
.a38{ position: relative;
    float: left;
    left: 0px;
    top: 180px;
    height:70px ;
    width: 70px;
    background-color:red;
}
.q17{ position: relative;
color: rgb(245, 245, 245);
font-size: 24px;
left: 20px;
font-weight: bold;
top: -10px;
}
.q18{ position: relative;
color: rgb(245, 245, 245);
font-size: 16px;
left: 16px;
font-weight: bold;
top: -35px;
}
.a39{
    position: relative;
    float: left;
    left: 530px;
    top: 850px;
    height:250px ;
    width: 450px;
    background-color: rgb(179, 185, 185);
}
.a40{ position: relative;
    float: left;
    left: 0px;
    top: 180px;
    height:70px ;
    width: 70px;
    background-color:red;
}
.q19{ position: relative;
color: rgb(245, 245, 245);
font-size: 24px;
left: 20px;
font-weight: bold;
top: -10px;
}
.q20{ position: relative;
color: rgb(245, 245, 245);
font-size: 16px;
left: 16px;
font-weight: bold;
top: -35px;
}
.a41{
    position: relative;
    left: 60px;
    top: 1085px;
    height:200px ;
    width: 450px;
    background-color:rgb(245, 245, 245);
}
.q21{
    position: relative;
    top: -200px;
    left: 10px;
}
.q22{
    position: relative;
    top: -200px;
    left: 10px;
    font-size: 12px;
}
.i20{
    position: relative;
    top: -200px;
    left: 20px;
}
.a42{
    position: relative;
    left: 520px;
    top: 870px;
    height:200px ;
    width: 450px;
    background-color:rgb(245, 245, 245);
}
.q23{
    position: relative;
    top: 15px;
    left: 10px;
}
.q24{
    position: relative;
    top: 15px;
    left: 10px;
    font-size: 12px;
}
.i21{
    position: relative;
    top: 15px;
    left: 20px;
}
.a43{
    position: relative;
    float: left;
    left: 980px;
    top: 670px;
    height:200px ;
    width: 450px;
    float: left;
    background-color:rgb(245, 245, 245);
}
.q25{
    position: relative;
    top: 15px;
    left: 10px;
}
.q26{
    position: relative;
    top: 15px;
    left: 10px;
    font-size: 12px;
}
.i22{
    position: relative;
    top: 15px;
    left: 20px;
}
.a44{
    position: relative;
    top: 875px;
    height:40px ;
    width: 1520px;
    background-color:black;
}
.q27{
    position: relative;
    left: -390px;
    top: 10px;
    color: white;
    font-size: 22px;
}
.a45{
    position: relative;
    top:-40px;
    float: left;
    height:25px ;
    width: 230px;
    left: -200px;
    border-radius: 5px;
    background-color:grey;
}
.i23{
    position: relative;
    top: -40px;
    left: -200px;
    height:30px ;
    width: 30px;
    background-color:black;
}
.q28{
    position: relative;
    left: 580px;
    top: -100px;
    color: white;
    font-size: 22px; 
}
.sm4{
    color: yellow;
}
.q29{
    position: relative;
    left: 880px;
    top: -142px;
    border: 1px 1px solid green;
    background-color: green;
    color: white;
   font-size: 16px;
   font-weight: bold;
}
.a46{
    position: relative;
    background-color: rgba(0, 0, 0, 0.836);
    top: 880px;
    width: 600px;
    height: 400px;

}
.a47{
    position: absolute;
    left: 150px;
    top: 50px;
    font-size: 12px;
}
strong{
    color: white;
    font-size: 18px;
    font-weight: normal;
}
.a48{
  position: relative;
  float: left;
  width: 200px;
    height: 400px;
top: 480px;
left: 600px;
    background-color: rgba(0, 0, 0, 0.836);
}
.a49{
    position: absolute;
    left: 50px;
    top: 50px;
    font-size: 12px;
}
.a50{
    position: relative;
    float: left;
    width: 200px;
      height: 400px;
  top: 480px;
  left: 600px;
      background-color: rgba(0, 0, 0, 0.836);
  }
  .a51{
      position: absolute;
      left: 50px;
      top: 50px;
      font-size: 12px;
  }
  .a52{
    position: relative;
    float: left;
    width: 200px;
      height: 400px;
  top: 480px;
  left: 600px;
      background-color: rgba(0, 0, 0, 0.836);
  }
  .a53{
      position: absolute;
      left: 50px;
      top: 50px;
      font-size: 12px;
  } 
  .a54{
    position: relative;
    float: left;
    width: 400px;
      height: 400px;
  top: 480px;
  left: 600px;
      background-color: rgba(0, 0, 0, 0.836);
  }
  .a55{
      position: absolute;
      left: 50px;
      top: 50px;
      font-size: 12px;
  } 
  .a56{
    position: relative;
    width: 1360px;
      height: 2px;
  top: 780px;
  left: 150px;
      background-color: white;
  }
  .a57{
      position: absolute;
      left: 50px;
      top: 20px;
      font-size: 12px;
  } 
  .y10{
      position: relative;
      height: 35px;
      width: 35px;
      top: 125px;
      left: -170px;
  }
  .y11{
    position: relative;
    height: 35px;
    width: 35px;
    top: 125px;
    left: -150px;
}
.y12{
    position: relative;
    height: 35px;
    width: 35px;
    top: 125px;
    left: -130px;
}
.y13{
    position: relative;
    height: 45px;
    width: 45px;
    top: 25px;
    left: 140px;
}
.y14{
    position: relative;
    height: 45px;
    width: 45px;
    top: 25px;
    left: 150px;
}
.y15{
    position: relative;
    height: 45px;
    width: 45px;
    top: 25px;
    left: 160px;
}